<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    </nav>
    <div class="d-flex align-center">
      <section>
        <button *ngIf="!isUserAuthenticated" class="btn btn-link" style="color:gray" routerLink="/account/register">Register</button>
        <button *ngIf="!isUserAuthenticated" class="btn btn-link" style="color:gray" routerLink="/account/login">Login</button>
        <button *ngIf="isUserAuthenticated" class="btn btn-link" style="color:gray" (click)="logout()">Logout</button>
      </section>
    </div>
